<p>
  <a href="#" (click)="search()">Search for New Lights</a> 
</p>

<div *ngFor="let light of lights|keys">
  <div class="card">
    <div class="card-block">
      <div class="card-header">
        <span class="pointer" (click)="toggleMenu(light.key)">
          <div class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lightbulb-o fa-stack-1x" [style.color]="lightStyle(light.value.state)"></i>
          </div>

          {{ light.value.name }}
        </span>

        <div class="float-right" *ngIf="light.value.state.reachable">
          <i class="fa fa-2x fa-toggle-on" (click)="toggleOn(light.key)" [ngClass]="!light.value.state.on && 'fa-rotate-180'"></i>
        </div>
      </div>

      <div *ngIf="light.value.expanded == true">
        <div class="card-text">
          <button (click)="rename(light.key)" class="btn btn-primary">Rename</button> 
          <button (click)="delete(light.key)" class="btn btn-danger">Delete</button>
        </div>
        <div class="card-text">
          ID: {{ light.key }}
        </div>
      </div>

      <div *ngIf="light.value.state.reachable">
        <div class="card-footer slider">
          <input max="254" type="range" [(ngModel)]="light.value.state.bri" (ngModelChange)="changeBrightness(light.key, $event)" [style.background]="lightStyle(light.value.state)" />
        </div>
      </div>
    </div>
  </div>
</div>