<p>
  <a href="#" (click)="search()">Search for New Lights</a> 
</p>

<div *ngFor="let light of lights; let index = index">
  <div class="card">
    <div class="card-block">
      <div class="card-header">
        <span class="pointer" (click)="toggleMenu(light)">
          <div class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lightbulb-o fa-stack-1x" [style.color]="lightStyle(light.state)"></i>
          </div>

          {{ light.name }} {{ light.id }} 
        </span>

        <div class="float-right" *ngIf="light.state.reachable">
          <i class="fa fa-2x fa-toggle-on" (click)="toggleOn(light)" [ngClass]="!light.state.on && 'fa-rotate-180'"></i>
        </div>
      </div>

      <div *ngIf="light.expanded == true">
        <div class="card-text">
          <button (click)="rename(light)" class="btn btn-primary">Rename</button> 
          <button (click)="delete(light)" class="btn btn-danger">Delete</button>
        </div>
        <div class="card-text">
          ID: {{ light.id }}
        </div>
      </div>

      <div *ngIf="light.state.reachable">
        <div class="card-footer slider">
          <input max="254" type="range" [(ngModel)]="light.state.bri" (ngModelChange)="changeBrightness(light, $event)" [style.background]="lightStyle(light.state)" />
        </div>
      </div>
    </div>
  </div>
</div>