<div class="container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['/']">Shine</a>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/lights']">Lights</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/rooms']">Rooms</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/scenes']">Scenes</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/schedules']">Schedules</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/hubs']">Hubs</a>
        </li>
      </ul>
    </div>
  </header>
</div>

<div class="container">
  <ngb-alert type="danger" [dismissible]="false" *ngIf="!connected()">Disconnected</ngb-alert>

  <app-alert></app-alert>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>