<div class="col-md-6 col-md-offset-3">
  <h2>Select a hub to connect</h2>
  <p>Be sure to press the hub button first</p>
  <div *ngFor="let hub of hubs">
    <p>
      <button (click)="login($event.srcElement.innerText, $event.srcElement.id)" [id]="hub.id" class="btn btn-primary">{{ hub.internalipaddress }}</button>
    </p>
  </div>
  <p>
    <label>Manual IP</label><input type="text" #manualIP />
    <button (click)="login('manual', manualIP.value)" class=btn btn-primary>Go</button>
  </p>
</div>