/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.btn {
    cursor: pointer;
}

.btn-primary {
    color: white !important;
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
}

.btn-primary:hover {
    background-color: #025aa5 !important;
    border-color: #01549b !important;
}