/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html, body {
    background: #111111;
    color: #DDDDDD;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    color: white !important;
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
}

.btn-primary:hover {
    background-color: #025aa5 !important;
    border-color: #01549b !important;
}

.fa-toggle-on, .fa-toggle-off {
    color: #DDDDDD;
}

.slider {
    background-color: #292929;
    color: #DDDDDD;
}

.pointer {
    cursor: pointer;
}

.card {
    background-color: #222222;
    margin-bottom: 10px;
    padding: 0;
}

.card-header {
    background-color: #222222;
    padding: 8px;
}

.card-block {
    padding: 0;
}

.card-text {
    padding: 8px;
}

.fa-circle {
    color: #333333;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  margin: -1px;
  height: 36px;
  width: 36px;
  background: #DDDDDD;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #999999;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #999999;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #999999;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #999999;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #999999;
  cursor: pointer;
  height: 8.4px;
}